<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X_UA_Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Add页面；flask_mysql_test 演示实例</title>
</head>
<body>
<h2 style="text-align-last: center;">Add Contact</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% for message in form.name.errors %}
    <div>{{ message }}</div>
{% endfor %}

{% for message in form.email.errors %}
    <div>{{ message }}</div>
{% endfor %}
<form action="/mysql_add" method="post">
    <fieldset>
        <legend>Contact Form</legend>
        {{ form.hidden_tag() }}
        <div style="font-size:20px;font-weight:bold;margin-left: 150px;">
            {{ form.name.label }}<tr>
            {{ form.name }}<br><br>
            {{ form.Gender.label }}<tr>
            {{ form.Gender }}<br><br>
            {{ form.Address.label }}<tr>
            {{ form.Address }}<br><br>
            {{ form.email.label }}<tr>
            {{ form.email }}<br><br>
            {{ form.Age.label }}<tr>
            {{ form.Age }}<br><br>
            {{ form.language.label }}<tr>
            {{ form.language }}<br><br>
            {{ form.submit }}
        </div>
    </fieldset>
</form>

</body>
</html>